<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lich">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/samonline"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".view.widget.WidgetCalendarEvent"
            android:exported="false"
            android:label="Sự kiện">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_calendar_event_info" />
        </receiver>
        <receiver
            android:name=".view.widget.WidgetCalendar"
            android:exported="false"
            android:label="Thời khóa biểu">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_calendar_info" />
        </receiver>

        <activity
            android:name=".view.ui.UpdateUser"
            android:exported="false" />
        <activity
            android:name=".view.ui.ForgotPassWord"
            android:exported="false" />
        <activity
            android:name=".view.ui.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".view.ui.listvieweven"
            android:exported="false" />
        <activity
            android:name=".view.ui.listviewtkb"
            android:exported="false" />
        <activity
            android:name=".view.ui.MainDatlich"
            android:exported="false" />
        <activity
            android:name=".view.ui.datlich"
            android:exported="false" />
        <activity
            android:name=".view.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.ui.home"
            android:exported="true" />
        <activity
            android:name=".view.ui.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.SamOnlineService" />
    </application>

</manifest>